body {
  font-family: "Lato", sans-serif;

}

.sidenav {
  z-index: 1;
  height:auto;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}
a{
cursor:pointer;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
 color: black;
 background-color:#f5f5f5;
}

.container{
display:grid;
height:100%;
grid-template-rows:100px auto;
grid-gap:4px;
}

#menu{
grid-area:m;
display:grid;
grid-template-rows:auto 1px;
}

#main-content{
display:grid;
grid-area:c;
grid-template-rows:50px auto;
grid-gap:4px;
}
#h1{
margin-top:10px;
color:white;
}


.content{
display:grid;
grid-template-columns:repeat(26,1fr);
grid-template-rows:auto;
grid-gap:5px;
grid-template-areas:"m c c c c c c c c c c c c c c c c c c c c c c c c c";
}




#search{
  width:15%;
  height:4%;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
#l2:focus {
  width: 100%;
}

.button {
  background-color: green; /* Green */
  border: 3px solid green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  
  cursor: pointer;
}
.button-exam {
  background-color: green; /* Green */
  border: 3px solid green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  
  cursor: pointer;
}
.button-exam:active{
  border:2px solid green;
  background-color:white;
  color:green;
}
.button:hover{
background-color:white;
color:green;
}
